/*
 * Assignment 02
 * CSS FILE
 */

 body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 3rem;
  border-radius: 0.8rem;
 
  background: #c31432;  
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  
  background: linear-gradient(to right, #240b36, #c31432); 
  
}

img {
  width: 100%;
  display: block;
  margin: 0 auto;
}




.header-container {
  background-color: #0e0d0d;
  border-radius: 0.8rem;
  margin-top: rem;
  margin-bottom: 7rem;
  color: #fefdfd;
  list-style: none;
  text-align: center;
  
  
  
  
}
.logo {
  height: 70px;
 top: 0px;
 left: 0px;
 width: 120px;

}

.box-container {
  background-color: #0e0d0d;
  color: white;
  border-radius: 0.8rem;
  
}

.footer-container {
  background-color: #0e0d0d;
  border-radius: 0.8rem;
  margin-top: rem;
  margin-bottom: 7rem;
  color: #fefdfd;
  list-style: none;
  text-align: center;
}

.log {
 height: 70px;
 display: flex;
 align-items: start;
 width: 120px;
}