/*
 * Assignment 02
 * CSS FILE
 */

 body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 3rem;
  border-radius: 0.8rem;

  background: #B993D6;  
 background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  
 background: linear-gradient(to right, #8CA6DB, #B993D6); 
  
}

img {
  width: 100%;
  display: block;
  margin: 0 auto;
}




.header-container {
  background-color: #faf6f9;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
  color: #050505;
  list-style: none;
  text-align: center;  
}

.logo {
  width: 50%;
  display: inline-block;

}

.concerts {
  margin-top: rem;
  background-color: #faf6f9;
  color: rgb(7, 7, 7);
  margin-top: 1rem;
  border-radius: 0.2rem;

}

.box-container {
  margin-top: rem;
  background-color: #faf6f9;
  color: rgb(7, 7, 7);
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
    
}

.music{
  margin-top: rem;
  background-color: #faf6f9;
  color: rgb(7, 7, 7);
  margin-top: 1rem;
  border-radius: 0.2rem;

}

.artists {
  margin-top: rem;
  background-color: #faf6f9;
  color: rgb(7, 7, 7);
  margin-top: 1rem;
  border-radius: 0.2rem;

}

.streaming {
  margin-top: rem;
  background-color: #faf6f9;
  color: rgb(7, 7, 7);
  margin-top: 1rem;
  border-radius: 0.2rem;

}

.button {
  
  background-color: #030303;
  text-align: center;
  display: inline-block;
  font-size: 1.5rem;
  width: 100%;
  text-decoration: none;
  color: rgba(251, 249, 249, 0.938);
  border-radius:0.8rem;
  margin-top: 2rem;

}

.signup{
  background-color: #faf6f9;
  color: rgb(12, 11, 11);
  border-radius: 0.8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
}

.footer-container {
  background-color: #faf6f9;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
  color: #050505;
  list-style: none;
  text-align: center; 
}

.log {
  width: 50%;
  display: inline-block;

}

